.attendance_group {
    width: 700px;
    margin: 0 auto;
}

.attendance_title,
.attendance_day p,
.attendance_table table {
    width: 100%;
}

.attendance_title {
    margin-top: 30px;
    text-align: left;
}

.attendance_title h2 {
    text-align: left;
    border-left: solid 8px black;
    padding-left: 20px;
}

.calendar-icon {
    width: 25px;
}

.attendance_day {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 30px;
    line-height: 20px;
}

.attendance_day p {
    display: inline-block;
    text-align: center;
    width: 150px;
    font-weight: bold;
}

.attendance_day span {
    color: #737373;
}
.attendance_day a {
    display: inline-block;
    color: #737373;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    margin: 15px 30px 0 30px;
}

.attendance_table {
    background-color: white;
    border-radius: 10px;
}

.attendance_table tr {
    border-bottom: solid #F0Eff0 2px;
    line-height: 30px;
}

.attendance_table th,
td {
    text-align: center;
    color: #737373;
}

.attendance_table a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}