.attendance_group {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.attendance_title,
.attendance_day p,
.attendance_table table {
    width: 100%;
}

.attendance_title {
    margin-top: 30px;
    text-align: left;
}

.attendance_title h2 {
    text-align: left;
    border-left: solid 8px black;
    padding-left: 20px;
}
.calendar-icon {
    width: 30px;
    height: 30px;
    margin-top: 10px;
}
.attendance_sub-title{
    display: flex;
}
.attendance_day {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 30px;
    line-height: 20px;
}

.attendance_day p {
    text-align: center;
    width: 100px;
    font-weight: bold;
}

.attendance_day a {
    color: #737373;
    text-decoration: none;
}

.attendance_table {
    background-color: white;
    border-radius: 10px;
}

.attendance_table tr {
    border-bottom: solid #F0Eff0 2px;
    line-height: 30px;
}

.attendance_table th,
td {
    text-align: center;
    color: #737373;
}

.attendance_table a {
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.csv_button {
    text-align: right;
}
.csv_button button{
    width: 100px;
    background-color: black;
    color: white;
    margin-top: 20px;
    border-radius: 5px;
    height: 30px;
    border: none;
    cursor: pointer;
}